*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --relaway:'Raleway', sans-serif;        /*variables con tipografia*/
    --open-sans:'Open Sans', sans-serif;    


    --very-dark-blue: hsl(243, 87%, 12%);   /*variables con color */
    --desaturated-blue: hsl(238, 22%, 44%);

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    --padding-container:80px 0;
}
body{
    
    font-family: var(--open-sans);
}
.container{
    /*background: #000;*/
    width:90%;
    max-width: 1200px;      /*que no revace ese ancho*/
    margin:0 auto;
    overflow: hidden;  /*si se sale de los parametros se esconda*/
    padding: var(--padding-container);
}
.hero{
    min-height: 100vh; /*alto minimo*/
    position: relative;
    --wave-bottom:url('../images/bg-curve-mobile.svg')

}
.hero__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    --padding-container:30px 0 45px;
}
.hero__logo{
    width: 25%;
    max-width: 160px;
}
.hero__huddle{
    width: 100%;
    display: block;/* para quitar el margen que traen por defecto las imagenes*/
}
.hero__ul{
    display: flex;
    justify-content:center;
    padding: 0;
}
.hero__ul li{
    list-style: none;
}
.ul__li{
    text-decoration:none;
    padding: 10px;
    color:var(--very-dark-blue);
    font-weight: 400;
    font-size: 12px;

}
/*-----------------------------nav-------------------------------*/
/*-----------------------------main-------------------------------*/
.hero__picture{
    margin-top: 0px;
}
.hero__img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}
.hero__main{
    text-align: center;
    color: var(--very-dark-blue);
    padding: 20px 0px 70px 0px;
}

.hero__title{
    font-family: var(--relaway);
    margin-top: 30px;
}
.hero__paragraph{
    margin: 16px auto;
    width: 90%;
    font-size: 14px;
}
.hero__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
.input-email{
    align-items: center;
    width:90%;
    height: 30px;
    margin: 10px;
    color: var(--light-gray);
    padding: 15px 20px;
    border-radius: 5px;
    border:2px solid var(--light-gray) ;
}
.input-boton{
    align-items: center;
    width:90%;
    height: 30px;
    margin: 0px 9px;
    background-color: var(--bright-blue);
    color:var(--light-grayish-blue);
    border: 0;
    border-radius:5px;
    box-shadow: 5px 2px var(--light-grayish-blue);
}
.wave{
    position: absolute;
    width: 100%;
    height: 100px;
    /*background-color: #000;*/
    background-repeat: no-repeat;
}
.wave--bottom{
    
    background-image: var(--wave-bottom);
    background-size: 100% 50px;
    
}
.section{
    background-color:var(--light-grayish-blue);
}
.section__container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section__img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}
.section__texts{
    margin-top: 50px;
    text-align: center;
}
.subtitules{
    padding: 16px;
    font-family: var(--relaway);
    font-size: 16px;
    color:var(--very-dark-blue);
}
.section_paragraph{
    font-family: var(--open-sans);
    color:var(--light-gray);
    font-size: 14px;
    padding: 10px;
}
.section__link{
    padding:20px;
    display: flex;
    justify-content:center;
    
}
.link-txt{
    color:var(--moderate-cyan);
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid var(--moderate-cyan);
    padding: 5px 0;
}
.link-img{
    padding: 5px 5px;   
    border-bottom: 1px solid var(--moderate-cyan);
}
/*--------------------comentario-------------------------*/
.section__coment{
   
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;    
}
.quotes-icon{
    
    float: left;
    color: var(--very-dark-blue);
    justify-items: left;
}
.coment{
   
    text-align: left;
    padding:30px 0;
    font-size: 12px;
    font-family: var(--open-sans);
}
.autor{
    display: flex;
}
.autor-img{
    width: 10%;
    height: 10%;   
    border-radius: 50%;
    max-width: 100px;
}
.autor-name{
    text-align: left;
    padding:0 5px;
    color: var(--very-dark-blue);
}
.autor-info{
    padding:0 5px;
    font-size: 10px;
    color: var(--light-gray);
    
}
.section2{
    background-color: var(--desaturated-blue);
    color:#fff;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section2__texts{
    text-align: center;
}
.s2-subtitules{
    padding:50px 0px 10px 0px;
    font-family: var(--relaway);
    font-size: 16px;
}
.section2_paragraph{
    font-family: var(--open-sans);
    font-size: 16px;
    padding: 25px;
}
.div-input{
   display: flex;
   flex-direction: column;
    align-items: center;
   gap: 15px;
}
.section2-input{
    width:70%;
    height: 30px;
    color: var(--light-gray);
    padding: 10px;
    border-radius: 5px;
    border:none;
}
.submit{
    width: 70%;
    height: 30px;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: var(--bright-blue);
    border-radius: 5px;
}